<div class="home-container">
  <!-- Sidebar -->
  <app-sidebar [isLoggedIn]="isLoggedIn" class="sidebar"></app-sidebar>

  <!-- Photos Grid -->
  <div *ngIf="!loading && !error" class="photos-grid">
    <div *ngFor="let photo of photos" class="photo-card-container">
      <div class="card">
        <div class="wrapper">
          <h2>{{ photo.photographer }}</h2>
          <!-- Updated img tag with responsive sources -->
          <img [srcset]="photo.src.medium + ' 800w, ' + photo.src.large + ' 1200w'"
            sizes="(max-width: 600px) 800px, 1200px" [src]="photo.src.large" [alt]="photo.alt" class="card-image"
            loading="lazy">

          <div class="photo-actions">
            <button (click)="toggleLike(photo.id)" [ngClass]="{ liked: photo.liked, unliked: !photo.liked }">
              <span [innerHTML]="photo.liked ? '❤️' : '🤍'"></span>
              <span>Like ({{ photo.likes }})</span>
            </button>
            <button (click)="downloadPhoto(photo)">
              <span>⬇️</span>
              <span>Download ({{ photo.downloads }})</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>